body{
background:#FFFFFF url("http://i24.photobucket.com/albums/c39/youngbutcute07/notepad_page-2.png") no-repeat center;
overflow:scroll;
	}
	
h1{
	font-family:Tahoma, Geneva, sans-serif; serif;
	text-align:center;
	letter-spacing:-1px;
	text-shadow: 5px 5px 5px #FF0000;
	border-style:double;
	border-color:#0000FF;
	padding:5px;
	color:
	}
	
h2{
	font-family:Tahoma, Geneva, sans-serif; serif;
	text-align:center;
	padding-top:5px;
	color:
	}
	
p{
	font-family:Tahoma, Geneva, sans-serif; serif;
	padding-top:25px;
	white-space:wrap;
	color:
	}
	
/*Name of Task*/
ul.nOT{
	font-family:Tahoma, Geneva, sans-serif;
	color:
	}
	
/*Category Checkboxes*/
ul.checkBoxes{
	
	font-family:Tahoma, Geneva, sans-serif;
	color:
    }
    
/*Date Selections*/    
ul.dateSelects{
	font-family:Tahoma, Geneva, sans-serif;
	color:
	}
	
/*Priority Levels*/
ul.pWord{
	font-family:Tahoma, Geneva, sans-serif;
	color:
	}
	
/*Alert Options 1-3 and Note*/
ul.alertNote{
	font-family:Tahoma, Geneva, sans-serif;
	color:
	}
	
/*Notes*/	
li.noteWord{
	padding-top:10px;
	color:
	}
	
li{
	display:block;
	}

button{
	font-family:Tahoma, Geneva, sans-serif;
	color:
	}
	
legend.field{
	font-family:Tahoma, Geneva, sans-serif; serif;
	color: 
	}
	
fieldset{
	border-color:#ff0000;
	color:
	}
	
input{
	outline:#00FF00 solid;
	color:
	}

/*Select Alert Bar*/
input.bar{
outline:none;
}




